$stringNum: 6;

page-guitar.ion-page {
  .fret-board {
    position: relative;
    display: flex;
    margin-top: 50px;

    .open-notes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      z-index: 1;
    }

    .nut {
      border: 2px solid var(--ion-color-dark);
      border-radius: 3px;
    }

    .fret-container {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-basis: 8%;

      .above-fret {
        position: absolute;
        top: -30px;
        right: 0;
        left: 0;
        font-weight: bold;
        text-align: center;
      }

      .fret {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: 1px solid var(--ion-color-dark);
        flex-basis: 100%;
        z-index: 1;
      }
    }

    .note {
      padding: 0.125em 0;
    }

    .dots {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-evenly;

      .dot {
        height: 16px;
        width: 16px;
        max-height: 3vw;
        max-width: 3vw;
        background-color: #bbb;
        border-radius: 50%;
      }
    }

    .value-bubble {
      height: 28px;
      width: 28px;
      max-width: 4vw;
      max-height: 4vw;
      background-color: rgba(var(--ion-color-primary-rgb), 0.85);
      color: white;
      font-size: 0.8em;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }

    .slinky {
      position: absolute;
      left: 0;
      right: 0;
      border: 1px dotted var(--ion-color-medium);
      border-radius: 3px;

      // x = string number
      // T = total string number
      // (% from top) = ((100 / T) * x) - (100 / (T * 2))
      &.first {
        top: calc(((100% / 6) * 1) - (100% / (6 * 2)));
      }
      &.second {
        top: calc(((100% / 6) * 2) - (100% / (6 * 2)));
      }
      &.third {
        top: calc(((100% / 6) * 3) - (100% / (6 * 2)));
      }
      &.fourth {
        top: calc(((100% / 6) * 4) - (100% / (6 * 2)));
      }
      &.fifth {
        top: calc(((100% / 6) * 5) - (100% / (6 * 2)));
      }
      &.sixth {
        top: calc(((100% / 6) * 6) - (100% / (6 * 2)));
      }
    }

  }

  .mode-style {
    max-width: 300px;
  }
}
