.fret-board {
  display: flex;
  height: 25vw;
  max-height: 200px;
  margin-right: 8%;
}

.fret {
  display: flex;
  flex-basis: 12%;
  flex-direction: column;
}

.fret.nut .string-box {
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-right: 3px solid black;
}

.fret.nut .string-box.root {
  border-right: none;
}

.fret.nut .value-bubble {
  right: -2px;
}

.string-box {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 20%;
  border-top: 2px solid black;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
  border-left: 1px solid black;
}

.string-box.root {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid black;
}

.string-box:last-of-type {
  border-bottom: 4px solid black;
}

.dot {
  height: 16px;
  width: 16px;
  max-height: 3vw;
  max-width: 3vw;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.value-bubble {
  position: absolute;
  top: 55%;
  height: 28px;
  width: 28px;
  max-width: 4vw;
  max-height: 4vw;
  background-color: rgba(138, 43, 226, 0.9);
  color: white;
  font-size: 0.8em;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 100;
}

.value-bubble.root {
  top: 0;
}


.root-select {
  margin: 50px;
  width: 250px;
}
